.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 210px;
  }
  
  label,
  input[type="text"],
  button[type="button"] {
    /* border: 3px solid #97daab; */
    margin-bottom: 10px;
    font-size: 17px;
    padding: 10px;
    
  }
  
  input[type="text"] {
    margin-right: 10px; /* Add a right margin to create a gap */
    border: 3px solid #8811f7
  }
  
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }  